<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">

    <CustomLevels>
        <CustomLevel name="GREEN_INFO" intLevel="350" />
    </CustomLevels>

    <appenders>
        <Console name="LEVEL_INFO" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
            <Filters>
                <ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>

        <Console name="LEVEL_DEBUG" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Console>

        <Console name="DEV" target="SYSTEM_ERR">
            <PatternLayout pattern="%msg%ex{full}%n}"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT"/>
            </Filters>
        </Console>

        <Console name="RELEASE" target="SYSTEM_ERR">
            <PatternLayout pattern="%msg%ex{short.localizedmessage}%n}"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT"/>
            </Filters>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/CumulativeLogs.log"
                     filePattern="logs/$${date:yyyy-MM}/CumulativeLogs-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss} - %-5level{lowerCase=true} (%F:%L) - %msg%ex{full}%n" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <File name="IndividualLogger" filename="logs/temp.log" append="false">
            <PatternLayout pattern="%msg%ex{short.localizedmessage} %n" />
        </File>
    </appenders>

    <loggers>
        <root level="trace" additivity="false">
            <appender-ref ref="LEVEL_INFO" level="ALL"/>
            <appender-ref ref="LEVEL_DEBUG" level="ALL"/>
            <appender-ref ref="DEV" level="ALL"/>
            <appender-ref ref="RELEASE" level="info"/>
            <AppenderRef ref="RollingFile" level="ALL"/>
            <AppenderRef ref="IndividualLogger" level="info"/>
        </root>
    </loggers>
</configuration>
